@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

*{
  font-family: 'Red Hat Display';
}

#header-section{
  background-color: #E29F8E;
  margin-top: 0;
}

h1 a, h2 a{
  color: #465454;
  font-family: 'Anton';
}

h2 a:hover{
  text-decoration: none;
  color: #BB5043;
}

h2{
  font-family: 'Anton' !important;
}
